.container_card{
    display: flex;
    gap: 1em;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    width: 250px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    height: 60px;

}

.icon_card{
   font-size: 3em;
   color: #2a87f4;
   margin-left: 15px;
}

.body_card{
display: flex;
flex-direction: column;
align-items: center;
gap: 5px;

padding: 0px 10px;
margin: 0;
border-radius: 10px;
width: 150px;
}

.body_card p, h3{
    font-size: 1em;
    color: #2a87f4;;
}