
.chart{
    width: 40%;
    flex: 1;
    height: 340px;  
    max-height: 340px;
}

@media (max-width: 768px) {

    .chart{
        width: 100%; /* Os gráficos ocupam 100% da largura do contêiner */
        max-width: 400px; /* Define uma largura máxima para os gráficos */
        height: 400px; /* Define uma altura fixa para todos os gráficos */
        margin: 10px 0; 
        
        
    }

}

@media (max-width: 480px) {
    .chart{
        width: 100%; /* Os gráficos ocupam 100% da largura do contêiner */
        max-width: 300px; /* Você pode ajustar a largura máxima se necessário */
        height: 300px; /* Ajuste a altura se necessário */
        margin: 10px 0;
        
    }


}


@media (min-width: 769px) and (max-width: 1024px) {

    .chart{
        flex: 0 0 auto; /* Impede que os gráficos se expandam para ocupar o espaço disponível */
        width: 80%; /* Define uma largura fixa ou percentual para os gráficos */
        max-width: 400px; /* Define uma largura máxima para os gráficos */
        height: auto; /* Define uma altura fixa para todos os gráficos */
        margin: 10px 0; 
        
    }

}

@media (min-width: 1025px) {
    .chart{
        width: 50%;
        height: 340px;
       
    }
}