.date-input-container {
     /* Para posicionar o ícone */
    display: flex; /* Para que o contêiner se ajuste ao tamanho do input */
    justify-content:center;
    align-items: center;
    color: lightskyblue ;
    text-shadow: none;
    gap: 15px;
    
    
   
}

.custom-date-input {
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
    font-weight: 700;
    padding: 10px 10px 10px 10px; /* Espaçamento interno */
    border: 1px solid lightskyblue; /* Borda do input */
    border-radius: 4px; /* Bordas arredondadas */
   width: 150px;
    text-shadow: none;
    color: lightskyblue ;
    height: 50px;
    box-shadow: none;
    text-align: center;
}
.custom-date-input::placeholder {
    color: lightskyblue; /* Altere para a cor desejada */
    opacity: 1; /* Para garantir que a cor seja aplicada corretamente */
}

.custom-date-input:focus {
    border-color: rgb(105, 166, 204); /* Cor da borda quando o input está em foco */
    outline: none; /* Remove o contorno padrão do navegador */
}


.calendar-icon {
     /* Posiciona o ícone */
    /* Distância da borda direita */
    margin-top:  auto;
    transform: translateY(-50%); /* Ajusta a posição vertical */
    font-size: 30px; /* Aumenta o tamanho do ícone */
    color: lightskyblue; /* Cor do ícone */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    text-shadow: none;
}




/* Estilo do calendário */
.react-datepicker {
    background-color: #ffffff; /* Cor de fundo do calendário */
  
}

/* Estilo do cabeçalho do calendário */
.date-input-container .react-datepicker__header {
    background-color: lightskyblue; /* Cor de fundo do cabeçalho */
    

}

.date-input-container .react-datepicker__header .react-datepicker__current-month,
.date-input-container .react-datepicker__header .react-datepicker__day-names {
    color: white; /* Cor do texto do cabeçalho */
    text-shadow: none; /* Remove a sombra do texto */
}



/* Estilo dos dias do calendário */
.react-datepicker__day {
    color: lightskyblue; /* Cor do texto dos dias */
    text-shadow: none;
}

/* Estilo do dia selecionado */
.react-datepicker__day--selected {
    background-color: #007bff; /* Cor de fundo do dia selecionado */
    color: white; /* Cor do texto do dia selecionado */
}

/* Estilo do dia atual */
.react-datepicker__day--today {
    font-weight: bold; /* Negrito para o dia atual */
    color: lightskyblue;
}

/* Estilo dos dias em um intervalo selecionado */
.react-datepicker__day--in-range {
    background-color: #007bff; /* Cor de fundo dos dias em intervalo */
    color: white; /* Cor do texto dos dias em intervalo */
}

@media (max-width: 480px) {

    .date-input-container{
        justify-content: space-between;
    }

}