.container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
}


.container_header .title{
    color: lightskyblue;
    flex: 1; /* Faz com que o título ocupe uma parte igual do espaço */
    text-align: center; /* Centraliza o texto */
   
}

.date{
    flex: 1;
    
}

.icon_header {
    color: lightskyblue;
    font-size: 2em;
    cursor: pointer;
    flex: 1; /* Faz com que o ícone ocupe uma parte igual do espaço */
    text-align: center; /* Centraliza o ícone */
}


.container_input{
    flex: 1; 
    display: flex;
    justify-content: center;
}
.input {
    
    height: 50px;
    border: 1px solid lightskyblue;
    color: lightskyblue;
    text-shadow: none;
    font-weight: bolder;
    width: 200px;
    font-size: 1.2em;
    
   
}

/* Responsividade para telas médias (tablets) */
@media (max-width: 768px) {
    .container_header {
        flex-direction: row; /* Muda a direção para coluna em telas menores */
        flex-wrap: wrap;
        align-items: center; /* Alinha os itens ao centro */
        padding: 15px; /* Aumenta o preenchimento */
    }

    .container_header > * {
        width: 100%; /* Faz com que todos os itens ocupem 100% da largura */
        max-width: 400px; /* Define uma largura máxima se necessário */
        margin-bottom: 10px; /* Espaço entre os itens */
    }

    /* Remove a margem inferior do último item */
    .container_header > *:last-child {
        margin-bottom: 0; /* Remove a margem do último item */
    }
}

/* Responsividade para telas pequenas (celulares) */
@media (max-width: 480px) {
    .container_header {
        flex-direction: column; /* Mantém a direção em coluna */
        align-items: center; /* Alinha os itens ao centro */
        padding: 20px; /* Aumenta o preenchimento */
    }

    .container_header > * {
        width: 100%; /* Faz com que todos os itens ocupem 100% da largura */
        max-width: 300px; /* Ajusta a largura máxima se necessário */
        margin-bottom: 10px; /* Espaço entre os itens */
    }

    /* Remove a margem inferior do último item */
    .container_header > *:last-child {
        margin-bottom: 0; /* Remove a margem do último item */
    }

    .input {
    
        height: 50px;
        border: 1px solid lightskyblue;
        color: lightskyblue;
        text-shadow: none;
        font-weight: bolder;
        width: 100%;
        font-size: 1.2em;
        
       
    }


}

/* Responsividade para telas grandes (desktops) */
@media (min-width: 769px) and (max-width: 1024px) {
    .container_header {
        flex-direction: row; /* Mantém a direção em linha */
        justify-content: space-between; /* Espaço entre os itens */
        padding: 15px; /* Ajusta o preenchimento */
    }

    .container_header > * {
        flex: 1; /* Faz com que todos os itens ocupem uma parte igual do espaço */
        margin: 0 10px; /* Adiciona margens laterais entre os itens */
    }
}