.container_menu{

display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
}


main{
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: rgb(238, 243, 250);
}

.sidebar{
    background: #000;
    color: #fff;
    height:100vh;
    width: 300px;
    transition: 0.5s;
    overflow: hidden;
}

.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo{
    font-size: 25px ;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap:15px;
    transition: all 0.5s;
}


.link:hover{

background-color: lightskyblue;
color: #000;
transition: all 0.5s;

}

.active{
    background-color: lightskyblue;
    color: #000;
}


.icon, .link_text{
    font-size: 20px;
}

