.page{
    width: 100%;
}


.display_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; /* Garante que os elementos se ajustem em telas menores */
    gap: 10px; /* Espaço entre os elementos */
}

.charts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/* Responsividade para telas médias (tablets) */
@media (max-width: 768px) {
    .display_info {
        flex-direction: column; /* Empilha os itens verticalmente em telas menores */
        align-items: center; /* Centraliza os itens */
    }

    .charts {
        flex-direction: column; /* Empilha os itens verticalmente em telas menores */
        align-items: center; /* Centraliza os itens */
        justify-content: center;
    }
}

/* Responsividade para telas pequenas (celulares) */
@media (max-width: 480px) {
    .display_info {
        flex-direction: column;
        align-items: center;
       
    }

    .charts {
        flex-direction: column; /* Empilha os itens verticalmente em telas menores */
        align-items: center; /* Centraliza os itens */
        justify-content: center;
    }
}

/* Responsividade para telas grandes (desktops) */
@media (min-width: 769px) and (max-width: 1024px) {
    .display_info {
        flex-direction: row; /* Mantém a disposição em linha para telas maiores */
        justify-content: space-between; /* Espaço entre os elementos */
    }

    .charts {
        flex-direction: row; /* Mantém a disposição em linha para telas maiores */
        justify-content: space-between; /* Espaço entre os gráficos */
        justify-content: center;
    }
}

/* Responsividade para telas muito grandes (grandes desktops) */
@media (min-width: 1025px) {
    .display_info {
        flex-direction: row; /* Mantém a disposição em linha para telas muito grandes */
        justify-content: space-around; /* Espaço ao redor dos elementos */
    }

    .charts {
        flex-direction: row; /* Mantém a disposição em linha para telas muito grandes */
        justify-content: space-around; /* Espaço ao redor dos gráficos */
        justify-content: center;
    }
}