


.display_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; /* Garante que os elementos se ajustem em telas menores */
    gap: 16px; /* Espaço entre os elementos */
}

.charts{
    display: flex;
}

.chart{
    width: 20%;
}

/* Responsividade para telas médias (tablets) */
@media (max-width: 768px) {
    .display_info {
        flex-direction: column; /* Empilha os itens verticalmente em telas menores */
        align-items: center; /* Centraliza os itens */
    }
}

/* Responsividade para telas pequenas (celulares) */
@media (max-width: 480px) {
    .display_info {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
}
