*{
    margin: 0;
    padding: 0;
    font-family: Helvetica ;
    text-decoration: none;
    box-sizing: border-box;
    text-shadow: #000 1px 1px;
}

.app_login{
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;/* Ele centraliza o conteudo*/
    background: rgb(0,0,3);
    background: linear-gradient(51deg, rgba(0,0,3,1) 0%, rgba(13,13,78,1) 48%, rgba(4,98,117,1) 100%);;
}

.container_menu{
display: flex;
}

main{
    width: 100%;
    padding: 20px;
}

.sidebar{
    background: #000;
    color: #fff;
    height:100vh;
    width: 300px;
}

.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo{
    font-size: 25px ;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap:15px;
    transition: all 0.5s;
}


.link:hover{

background-color: lightskyblue;
color: #000;
transition: all 0.5s;

}

.active{
    background-color: lightskyblue;
    color: #000;
}


.icon, .link_text{
    font-size: 20px;
}